body {
    font-family: cursive;
    background-color: white;
    overflow: hidden;
}


/*
    Navbar Items styling starts
*/

nav {
    background-color: #26A69A;
}

nav>a {
    color: white;
}

nav>a:hover {
    color: #004D40;
}

ul>li>a {
    color: white;
}

ul>li>a:hover {
    color: #004D40;
}

ul>li>a#navbarDropdown {
    color: #E0F2F1;
}

ul>li>a#navbarDropdown:hover {
    /* color: #004D40; */
    cursor: default;
}

p.dropdown-item {
    margin: auto;
    color: #26A69A;
}

p.dropdown-item:hover {
    cursor: pointer;
    background-color: #4DB6AC;
    color: white;
}

#run_btn {
    color: #E0F2F1;
    border-color: #B2DFDB;
}

#run_btn:hover:enabled {
    color: white;
    background-color: #00695C;
}

#run_btn:hover:disabled {
    cursor: default;
}


/*
    Navbar items styling ends
*/

.my-container {
    width: 100%;
    height: 90%;
    background-color: white;
    /* position: relative; */
}

.grid-cont {
    width: 100%;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    /* position: relative; */
    padding: 2%;
    background-color: white;
}

.table-hover-cells>tbody>tr>td:hover {
    background-color: #E0F2F1;
}

table.table-bordered>tbody>tr>td {
    border-color: #E0F2F1;
}

span.disable-links {
    pointer-events: none;
}

.disbale {
    font-size: 50px;
}


/* .header {
    position: relative;
    background-color: blueviolet;
} */

.alert-p {
    margin-top: 2%;
    height: 25px;
    width: 70%;
}

.alert-p>p {
    color: red;
    padding-top: 0;
    padding-left: 40px;
}

.legends {
    margin-top: 2%;
    height: 25px;
    width: 30%;
}

.legend-A {
    margin-left: 10%;
}

.legend-B {
    margin-left: 10%;
}

.legend-C {
    margin-left: 10%;
}

.legend-A>p {
    margin-left: 10px;
    color: #B2DFDB;
}

.legend-B>p {
    margin-left: 10px;
    color: #00695C;
}

.legend-C>p {
    margin-left: 10px;
    color: #64FFDA;
}

.color-box-A {
    margin-top: 0;
    width: 24px;
    height: 24px;
    background-color: #B2DFDB;
    border: 1px solid #26A69A;
}

.color-box-B {
    margin-top: 0;
    width: 24px;
    height: 24px;
    background-color: #00695C;
    border: 1px solid #26A69A;
}

.color-box-C {
    margin-top: 0;
    width: 24px;
    height: 24px;
    background-color: #64FFDA;
    border: 1px solid #26A69A;
}