body {
    font-family: cursive;
}

.my-container {
    width: 100%;
    height: 90%;
    background-color: lightgray;
    position: relative;
}

.grid-cont {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2%;
    background-color: white;
}

.table-hover-cells>tbody>tr>th:hover,
.table-hover-cells>tbody>tr>td:hover {
    background-color: #e9e6e6;
}