{% block content %}
<div class="my-container">
    <div class="grid-cont">
        <div>
            <p>Dijksta's path</p>
        </div>
        <table class="table table-bordered table-hover-cells">
            <tbody>
                {% for i in range(22) %}
                <tr>
                    {% for j in range(50) %}
                    <td class="tableCell" id={{i}}{{j}}>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function() {
        console.log(result);
    });
</script>
{% endblock%}