{% block content %}
<div class="my-container">
    <div class="grid-cont">
        <table class="table table-bordered table-hover-cells">
            <tbody>
                {% set id = namespace(value=0) %} {% for i in range(22) %}
                <tr>
                    {% for j in range(50) %}
                    <td class=" tableCell " id={{id.value}} onclick="cellClicked({{id.value}}) ">
                    </td>
                    {% set id.value = id.value + 1 %} {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}